/*reset*/
*,*:before,*:after{
    margin: 0;
    padding: 0;
    font-family: 'open Sans', Sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    
}
h1{font-size: 2em; font-weight: 400};
h2{font-size: 1.8em; font-weight: 600};
h3{font-size: 1.5em; font-weight: 800};
p{ margin-bottom: 15px;}
b, strong{font-weight: bold;}
mark{padding: 5px 10px; background: #eee;}
ul{ list-style: none;}
img{border: none;max-width: 100%; vertical-align: middle;}
small{font-size: 0.75em; color:#555;}
a{text-decoration: none;color: #09f;}

/*midias*/
object,
embed,
video,
iframe,
iframe['style']{max-width: 100%; height: auto;}
/*fim das midias*/

/*inicio das controladoras*/
.container{float: left;width: 100%;}
.content{display: block; margin: 0 auto; padding: 40px 0; width: 80%; max-width: 1200px;}
.clear{clear: both;}
.fontzero{font-size: 0;}
.border_bottom{padding-bottom: 10px; background: url(../imagens/line_sidebar.jpg)center center;}
.border_bottom_destaque{float: left;width: 100%;}
/*fim das controladoras*/
/*ratio*/

.ratio{position: relative; padding-bottom: 56.25%;float: left; width: 100%;height: 0;}
.media{position: absolute; width: 100%; height: 100%; left: 0;top: 0;}
/*big title*/
.big_title{display: block;font-weight: bold;color: #888;text-transform: uppercase;border-right: 10px solid #ccc;}
.big_title h1{font-size: 3em;font-weight: bold; color: #888;text-transform: uppercase;}
.big_title .tagline{padding-left: 5px; color: #ccc;margin-bottom: 50px;}

/*alinhando o header*/



.main_header{font-size: 0.875em;}
.main_header .content{padding: 20px 0;}
.main_menu{float: right;margin-top: 15px;}
.main_logo{float: left;}
.main_menu li{display: inline-block;}
.main_menu a{display: inline-block; padding: 10px 15px; color: #888; text-transform: uppercase;font-weight: 600;}
.main_menu a:hover{background: #f5f5f5;}
.main_menu .especial{color: #f2723E; }
/*destaque*/
.destaque{background-color: #000;background-image: url(../imagens/00.jpg);background-size: cover;background-attachment: fixed;background-position: center top;color: #fff;}
.destaque header{float: left; width: 50%; padding-right: 10%;}
.destaque h1{font-weight: bold;font-size: 2.2em; margin-top: 20px;}
.destaque .tagline{ margin: 35px 0;font-size: 0.875em;}
.destaque .fb-like{margin-right: 10px;}
.destaque_video{float: right;width: 50%; padding: 10px; background: rgba(255,255,255,0.2);}
/*O CURSO*/
.curso article{float: left; width: 22.75%; margin-right: 3%;}
.curso_item:last-of-type{margin-right: 0;}
.curso_item h1{font-size: 1.4em; font-weight: 600; color: #2EB5D1;margin-top: 20px;}
.curso_item p{font-size: 0.875em;margin: 10px 0;}
.curso_footer{background: #289CB5;text-align: center;color: #fff;}
.curso_footer .content{padding-bottom: 0;max-width: 580px;}
.curso_footer h1{margin: 20px 0 20px 0;}
.curso_footer p{font-size: 0.9em;font-weight: 300;}
.curso_footer .btn{display: block;margin-top: 30px;padding: 20px ;background:#00458A;color: #fff;font-weight: 600;text-transform: uppercase;}
.btn:hover{background: #005EBB}

/*video aulas*/
.videoaulas_videos{width: 65%;float: left;padding-right: 3%;}
.videoaulas_videos article{float: left;width: 48%; margin: 0 4% 4% 0;}
.videoaulas_videos article:nth-of-type(2n+0){margin-right: 0;}
.videoaulas_videos article img{float: left; margin-right: 15px;width: 50%;}
.videoaulas_videos article h1{font-size: 1em;margin-bottom: 5px;font-weight: 600;color: #2EB5D1;}
.videoaulas_videos article p{font-size: 0.875em;}
.videoaulas_sidebar{float: right;width: 35%;background:#eee;}
.videoaulas_sidebar .title{font-size: 1em;text-transform: uppercase;font-weight: bold;text-align: center;padding-bottom: 10px;border-bottom: 5px solid #ccc;margin: 0 35px;}
.videoaulas_sidebar video{float: left;width: 100%;margin-top: 40px;}
.videoaulas_sidebar_comment{float: left;width: 100%;margin-top: 40px;}
.videoaulas_sidebar_comment img{ float: left;width: 20%;margin-right: 20px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%}
.videoaulas_sidebar_comment h1{font-size: 1em;font-weight: bold;margin-bottom: 5px;text-transform: uppercase;}
.videoaulas_sidebar .content{ padding: 30px;width: 100%; background: #eee;}
/*contatos*/
.contato{background: #eee;}
.contato header{float: left;width: 30%;}
.contato header h1{font-size: 3em;text-transform: uppercase;font-weight: bold;color: #888;margin-bottom: 20px;}
.contato header p{color: #555;}
.form_contato{float: right;width: 70%;padding-left: 5%;}
.form_contato label{display: block;width: 100%;margin-bottom: 20px;}
.form_contato span{font-size: 0.7em;display:block;text-transform: uppercase;font-weight: 600;margin-bottom: 10px;}
.form_contato .medium{float: left;width: 48%;}
.form_contato .medium:first-of-type{margin-right: 4%;}
.form_contato textarea{width: 100%; border: none;background: #ccc;padding: 10px;font-family: 'Arial',sans-serif;}
.form_contato .btn{border: none;background: #289CB5;padding: 15px 25px;font-weight: 600;font-size: 0.875em;color: #fff;float: right;margin-top: 10px;cursor: pointer;}
.form_contato .btn:hover{background: #51C1D9;}
.form_load{float: right;margin-left: 20px;margin-top: 25px;display: none;}
/*footer*/
.main_footer{background: #444;text-align: center;color: #ccc;}
.main_footer .ftcontent{background: #444; padding: 30px;}

.main_footer .title{font-weight: bold; font-size: 2em;}
.main_footer .subtitle{font-weight: bold; font-size: 1.6em; text-transform: uppercase;}
.main_footer_social{display: block;margin-top: 20px;}
.main_footer_social li{display: inline-block;margin: 0 5px;}
.main_footer_social a{color: #fff;text-transform:uppercase;font-size: 0.8em;}
.main_footer_social a:hover{text-decoration: underline }



    
    

 
    






  

 